// Infobox
//
// A simple box style.
//
// Markup: infobox.twig
//
// Style guide: common.infobox

.infobox {
  @include margin-bottom(1);
  width: 600px;
  height: 494px;
  background-color: color('white');
  border: 1px solid color(border);
  box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, .1);
  padding: 16px 31px 44px 90px;

  // Sass compiles this to the selector: .box__title, %box__title {}
  // The "__" (double underscore) is part of a BEM naming convention that
  // indicates the "title" is an _element_ of (a piece of) the "box" component.
  &__title {
    font-size: 64px;
    line-height: 110px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
  }
}
