body {
  border-top: 10px solid #c61826;
  padding-top: 50px;
}

.kss-style,
.kss-style h1,
.kss-style h2,
.kss-style h3,
.kss-style h4,
.kss-style h5,
.kss-style h6 {
  font-family: Roboto, Verdana, Tahoma, 'DejaVu Sans', sans-serif;
}

[id^='kssref-layouts-'] [class^='layout-'][class*='__'] {
  outline: 1px dotted #d6d6d6;
}

#kssref-layouts-layout-3column .kss-modifier__example {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 777px) {
  #kssref-layouts-layout-3column .kss-modifier__example {
    padding-left: 12px;
    padding-right: 13px;
  }
  [dir="rtl"] #kssref-layouts-layout-3column .kss-modifier__example {
    padding-left: 13px;
    padding-right: 12px;
  }
}

#kss-node .kss-section {
  max-width: none;
}

#kss-node .kss-sidebar {
  background: none;
  box-shadow: none;
}

@media screen and (min-width: 769px) {
  #kss-node .kss-sidebar {
    margin-top: -10px;
    border-top: 10px solid #c61826;
  }
}

#kss-node .kss-header {
  margin: 0;
  background-image: url("../../global/header/logo.png");
  background-size: 125px 66px;
  background-repeat: no-repeat;
  background-position: center 10px;
  padding-top: 86px;
  text-align: center;
}

#kssref-colors-colors .chroma-kss + .chroma-kss__title,
#kssref-colors-colors .chroma-kss + .chroma-kss__title + *,
#kssref-colors-colors .chroma-kss + .chroma-kss__title + * + *,
#kssref-colors-colors .chroma-kss + .chroma-kss__title + * + * + *,
#kssref-colors-colors .chroma-kss + .chroma-kss__title + * + * + * + *,
#kssref-colors-colors .chroma-kss + .chroma-kss__title + * + * + * + * + *,
#kssref-colors-colors .chroma-kss + .chroma-kss__title + * + * + * + * + * + *,
#kssref-colors-colors .chroma-kss + .chroma-kss__title + * + * + * + * + * + * + *,
#kssref-colors-colors .chroma-kss + .chroma-kss__title + * + * + * + * + * + * + * + *,
#kssref-colors-colors .chroma-kss + .chroma-kss__title + * + * + * + * + * + * + * + * + *,
#kssref-colors-colors .chroma-kss + .chroma-kss__title + * + * + * + * + * + * + * + * + * + *,
#kssref-colors-colors .chroma-kss + .chroma-kss__title + * + * + * + * + * + * + * + * + * + * + *,
#kssref-colors-colors .chroma-kss + .chroma-kss__title + * + * + * + * + * + * + * + * + * + * + * + *,
#kssref-colors-colors .chroma-kss + .chroma-kss__title + * + * + * + * + * + * + * + * + * + * + * + * + *,
#kssref-colors-colors .chroma-kss + .chroma-kss__title + * + * + * + * + * + * + * + * + * + * + * + * + * + *,
#kssref-colors-colors .chroma-kss + .chroma-kss__title + * + * + * + * + * + * + * + * + * + * + * + * + * + * + *,
#kssref-colors-colors .chroma-kss + .chroma-kss__title + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + *,
#kssref-colors-colors .chroma-kss + .chroma-kss__title + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + *,
#kssref-colors-colors .chroma-kss + .chroma-kss__title + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + *,
#kssref-colors-colors .chroma-kss + .chroma-kss__title + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + *,
#kssref-colors-colors .chroma-kss + .chroma-kss__title + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * {
  display: none;
}

.kss-style a:link, .kss-style a:visited, .kss-style a:hover, .kss-style a:focus {
  color: #e92a39;
}

#kss-node .kss-title__permalink:hover, #kss-node .kss-title__permalink:focus, #kss-node .kss-title__permalink:active {
  color: #e92a39;
}
